Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-core.NullDereference,
  -cppcoreguidelines-avoid-capturing-lambda-coroutines,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -misc-include-cleaner,
  -misc-no-recursion,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-identifier-length,
  -readability-magic-numbers
CheckOptions:
  readability-function-cognitive-complexity.IgnoreMacros: true
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
HeaderFilterRegex: '.*/(include/remote|src|examples|tests)/.*'
ExcludeHeaderFilterRegex: '.*/\.conan2/.*'
FormatStyle: none
